@use '../../styles/main.scss' as m;

.cart-product {
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: .5rem;
    cursor: pointer;
    &__content {
        width: 100%;
        height: 100%;
        @include m.between;
        img {
            height: 100%;
        }
        &__info {
            flex: 1;
            margin-left: 1rem;
            @include m.column;
            &__header {
                @include m.between;
            }
        }
    }
}

@media (max-width: 600px) {
    .cart-product {
        width: 100%;
        height: 7rem;
        border-bottom: 1px solid rgb(230, 230, 230);
        margin-bottom: .5rem;
        cursor: pointer;
        &__content {
            width: 100%;
            height: 100%;
            @include m.between;
            img {
                height: 100%;
            }
            &__info {
                flex: 1;
                margin-left: 1rem;
                @include m.column;
                &__header {
                    @include m.between;
                    h3 {
                        font-size: 1rem;
                    }
                }
                p {
                    font-size: .9rem;
                }
            }
        }
    }
}