@use '../../styles/main.scss' as m;

.cart {
    @include m.center;
    margin-top: 4rem;

    &__container {
        width: 90%;
        max-width: 1200px;
        @include m.between;
        align-items: flex-start;
    }

    &__items {
        @include m.column;
        flex: 1;
        margin-right: 1rem;
    }

    &__item-list {
        @include m.column;
    }

    &__summary {
        width: 35%;
        border-left: 1px solid gainsboro;
        padding-left: 1rem;
    }

    &__totals {
        @include m.between;

        &__label {
            font-weight: 600;
        }
    }

    button {
        margin-top: 1rem;
        width: 100%;
        border-radius: 10px;
        background-color: #000;
        color: #fff;
        border: none;
        padding: .75rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color .3s ease;

        &:hover {
            background-color: #2a2a2a;
        }
    }
}

.checkout-modal {
    // Puedes agregar estilos específicos para el modal de checkout
}

@media (max-width: 600px) {
    .cart {
        &__container {
            // Estilos específicos para pantallas medianas
            width: 90%;
            max-width: 1200px;
            @include m.column;
            align-items: flex-start;
        }
        &__items {
            @include m.column;
            flex: 1;
            margin-right: 0;
        }
        &__summary {
            width: 100%;
            border-left: none;
            padding-left: 0;
            margin-bottom: 5rem;
        }
        &__item-list {
            @include m.column;
        }
    }
}